.bracket {
    background-image: url('/images/bracket.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}

.finale {
    margin-top: 305px;
}

.sixteen-finals {

    margin-top: 5px;
}

.eighth-card-0 {
    margin-top: 50px;
}

.eighth-card-1 {
    margin-top: 90px;
}

.eighth-card-2 {
    margin-top: 100px;
}

.eighth-card-3 {
    margin-top: 85px;
}

.quarter-finale-0 {
    margin-top: 138px;
}

.quarter-finale-1 {
    margin-top: 270px;
}
