#page-container {
    position: relative;
    min-height: 70vh;
}

#content-wrap {
    padding-bottom: 2.5rem;
}

#footer {
    bottom: 0;
    width: 100%;
    background-color: #e3342f;
}

A:link {
    color: #FFFFFF;
    text-decoration: underline;

}

