.navbar-brand {
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    margin: 0;
    padding: 2px;
    height: 30px;
    display: inline;
}

body {
    background-color: transparent;
}

hr {
}
